<div class="row col s12 z-depth-3">
  <div class="input-field col s6">
      <input type="text" class="validate" id="formation" ng-model='vm.formation.formation.nomformation'>
      <label for="formation">Formation</label>
  </div>
  <div class="input-field col s6">
      <input type="text" class="validate" id="image_small" ng-model='vm.formation.formation.image' ng-required='true'>
      <label for="last_name">Image</label>
  </div>
  <div class="input-field col s3">
    <input type="text" class="validate" id="date" ng-model='vm.formation.formation.date' ng-required='true'>
    <label for="last_name">Date de la formation</label>
  </div>
  <div class="input-field col s2">
    <input type="text" class="validate" id="place" ng-model='vm.formation.formation.place' ng-required='true'>
    <label for="last_name">Nombre de place</label>
  </div>
  <div class="input-field col s2">
    <input type="text" class="validate" id="lieu" ng-model='vm.formation.formation.lieu' ng-required='true'>
    <label for="last_name">Où</label>
  </div>
  <div class="input-field col s5">
    <input type="text" class="validate" id="lien" ng-model='vm.formation.formation.lien' ng-required='true'>
    <label for="last_name">Lien</label>
  </div>
  <div class="input-field col s12">
      <input type="text" class="validate" id="description" ng-model='vm.formation.formation.description' ng-required='true'>
      <label for="last_name">Description</label>
  </div>
</div>
<div class="row col s12 z-depth-3">
  <div class="input-field col s6">
      <input type="text" class="validate" id="contenu1" ng-model='vm.formation.formation.contenu.contenuUn.lien' ng-required='true'>
      <label for="last_name">contenu en relation avec la formation</label>
  </div>
  <div class="input-field col s6">
    <input type="text" class="validate" id="desc_contenu1" ng-model='vm.formation.formation.contenu.contenuUn.descriptioncontenu' ng-required='true'>
    <label for="last_name">Description</label>
  </div>
  <div class="input-field col s6">
      <input type="text" class="validate" id="contenu2" ng-model='vm.formation.formation.contenu.contenuDeux.lien' ng-required='true'>
      <label for="last_name">contenu en relation avec la formation</label>
  </div>
  <div class="input-field col s6">
    <input type="text" class="validate" id="desc_contenu2" ng-model='vm.formation.formation.contenu.contenuDeux.descriptioncontenu' ng-required='true'>
    <label for="last_name">Description</label>
  </div>
  <div class="input-field col s6">
      <input type="text" class="validate" id="contenu3" ng-model='vm.formation.formation.contenu.contenuTrois.lien' ng-required='true'>
      <label for="last_name">contenu en relation avec la formation</label>
  </div>
  <div class="input-field col s6">
    <input type="text" class="validate" id="desc_contenu3" ng-model='vm.formation.formation.contenu.contenuTrois.descriptioncontenu' ng-required='true'>
    <label for="last_name">Description</label>
  </div>
</div>
<div class="row col s12 z-depth-3">
  <div class="input-field col s6">
      <input type="text" class="validate" id="commentaire1" ng-model='vm.formation.formation.commentaire.commentaireUn.user' ng-required='true'>
      <label for="last_name">Commentaire de {{vm.formation.formation.commentaire.commentaireUn.user}}</label>
  </div>
  <div class="input-field col s6">
    <input type="text" class="validate" id="like1" ng-model='vm.formation.formation.commentaire.commentaireUn.like' ng-required='true'>
    <label for="last_name">Note</label>
  </div>
  <div class="input-field col s12">
      <input type="text" class="validate" id="commentaireUser1" ng-model='vm.formation.formation.commentaire.commentaireUn.commentaire' ng-required='true'>
      <label for="last_name">Avis</label>
  </div>
  <div class="input-field col s6">
      <input type="text" class="validate" id="commentaire2" ng-model='vm.formation.formation.commentaire.commentaireDeux.user' ng-required='true'>
      <label for="last_name">Commentaire de {{vm.formation.formation.commentaire.commentaireDeux.user}}</label>
  </div>
  <div class="input-field col s6">
    <input type="text" class="validate" id="like2" ng-model='vm.formation.formation.commentaire.commentaireDeux.like' ng-required='true'>
    <label for="last_name">Note</label>
  </div>
  <div class="input-field col s12">
      <input type="text" class="validate" id="commentaireUser2" ng-model='vm.formation.formation.commentaire.commentaireDeux.commentaire' ng-required='true'>
      <label for="last_name">Avis</label>
  </div>
  <div class="input-field col s6">
      <input type="text" class="validate" id="commentaire3" ng-model='vm.formation.formation.commentaire.commentaireTrois.user' ng-required='true'>
      <label for="last_name">Commentaire de {{vm.formation.formation.commentaire.commentaireTrois.user}}</label>
  </div>
  <div class="input-field col s6">
    <input type="text" class="validate" id="like3" ng-model='vm.formation.formation.commentaire.commentaireTrois.like' ng-required='true'>
    <label for="last_name">Note</label>
  </div>
  <div class="input-field col s12">
      <input type="text" class="validate" id="commentaireUser3" ng-model='vm.formation.formation.commentaire.commentaireTrois.commentaire' ng-required='true'>
      <label for="last_name">Avis</label>
  </div>
  <div class="input-field col s6">
      <input type="text" class="validate" id="commentaire4" ng-model='vm.formation.formation.commentaire.commentaireQuatre.user' ng-required='true'>
      <label for="last_name">Commentaire de {{vm.formation.formation.commentaire.commentaireQuatre.user}}</label>
  </div>
  <div class="input-field col s6">
    <input type="text" class="validate" id="like4" ng-model='vm.formation.formation.commentaire.commentaireQuatre.like' ng-required='true'>
    <label for="last_name">Note</label>
  </div>
  <div class="input-field col s12">
      <input type="text" class="validate" id="commentaireUser4" ng-model='vm.formation.formation.commentaire.commentaireQuatre.commentaire' ng-required='true'>
      <label for="last_name">Avis</label>
  </div>
  <div class="input-field col s6">
      <input type="text" class="validate" id="commentaire5" ng-model='vm.formation.formation.commentaire.commentaireCinq.user' ng-required='true'>
      <label for="last_name">Commentaire de {{vm.formation.formation.commentaire.commentaireCinq.user}}</label>
  </div>
  <div class="input-field col s6">
    <input type="text" class="validate" id="like5" ng-model='vm.formation.formation.commentaire.commentaireCinq.like' ng-required='true'>
    <label for="last_name">Note</label>
  </div>
  <div class="input-field col s12">
      <input type="text" class="validate" id="commentaireUser5" ng-model='vm.formation.formation.commentaire.commentaireCinq.commentaire' ng-required='true'>
      <label for="last_name">Avis</label>
  </div>
  <div class="input-field col s6">
      <input type="text" class="validate" id="commentaire6" ng-model='vm.formation.formation.commentaire.commentaireSix.user' ng-required='true'>
      <label for="last_name">Commentaire de {{vm.formation.formation.commentaire.commentaireSix.user}}</label>
  </div>
  <div class="input-field col s6">
    <input type="text" class="validate" id="like6" ng-model='vm.formation.formation.commentaire.commentaireSix.like' ng-required='true'>
    <label for="last_name">Note</label>
  </div>
</div>
<div class="input-field col s12">
  <input type="text" class="validate" id="commentaireUser6" ng-model='vm.formation.formation.commentaire.commentaireSix.commentaire' ng-required='true'>
  <label for="last_name">Avis</label>
</div>
<div class="row col s12 z-depth-3">
  <div class="input-field col s6">
      <input type="text" class="validate" id="quizzUser1nom" ng-model='vm.formation.formation.quizz.userUn.nom' ng-required='true'>
      <label for="last_name">Nom de l'utilisateur du quizz</label>
  </div>
  <div class="input-field col s6">
      <input type="text" class="validate" id="quizzUser1result" ng-model='vm.formation.formation.quizz.userUn.result' ng-required='true'>
      <label for="last_name">Résultat du quizz</label>
  </div>
  <div class="input-field col s6">
      <input type="text" class="validate" id="quizzUser2nom" ng-model='vm.formation.formation.quizz.userDeux.nom' ng-required='true'>
      <label for="last_name">Nom de l'utilisateur du quizz</label>
  </div>
  <div class="input-field col s6">
      <input type="text" class="validate" id="quizzUser2result" ng-model='vm.formation.formation.quizz.userDeux.result' ng-required='true'>
      <label for="last_name">Résultat du quizz</label>
  </div>
  <div class="input-field col s6">
      <input type="text" class="validate" id="quizzUser3nom" ng-model='vm.formation.formation.quizz.userTrois.nom' ng-required='true'>
      <label for="last_name">Nom de l'utilisateur du quizz</label>
  </div>
  <div class="input-field col s6">
      <input type="text" class="validate" id="quizzUser3result" ng-model='vm.formation.formation.quizz.userTrois.result' ng-required='true'>
      <label for="last_name">Résultat du quizz</label>
  </div>
</div>
<div class="row col s12">
    <div class="center">
        <a class="waves-effect waves-light btn white green-text" ng-click='vm.create()'><i class="material-icons left">&#xE5CA;</i>Valider</a>
    </div>
</div>
