<div class="container">
    <div class="center">
        <img class="image-responsive circle imgAdmin" src="assets/img/guy.png">
        <h1 class="center titreAdmin">Bienvenue sur l'espace d'administration !</h1>
        <div class="row">
            <div class="col s4">
                <a href="https://analytics.google.com/analytics/web/#report/visitors-overview/a54516992w87479473p92320289/" target="_blank" class="btn-floating btn-large indigo darken-1 btnAdmin">
                    <i class="material-icons">timeline</i>
                </a>
                <p>
                    Statistiques
                </p>
            </div>
            <div class="col s4">
                <a href="#/adminCours" class="btn-floating btn-large indigo darken-1 btnAdmin">
                    <i class="material-icons">school</i>
                </a>
                <p>
                    Ajouter une saison
                </p>
            </div>
            <div class="col s4">
                <a href="#/liste" class="btn-floating btn-large indigo darken-1 btnAdmin">
                    <i class="material-icons">person_add</i>
                </a>
                <p>
                    Ajouter un utilisateur
                </p>
            </div>
        </div>
    </div>
</div>
