<div class="center">
    <img class="circle" src="assets/img/guy.png">
    <h1 class="center">Profil</h1>
    <p class="center">{{user.first_name}}</p>
    <p class="center">{{user.last_name}}</p>

    <div class="row">
        <div class="col s4">
            <a href="https://analytics.google.com/analytics/web/#report/visitors-overview/a54516992w87479473p92320289/" target="_blank" class="btn-floating btn-large indigo darken-2 btnAdmin">
                <i class="material-icons">timeline</i>
            </a>
            <p>
                google analytics
            </p>
        </div>
        <div class="col s4">
            <a href="#/utilisateur" class="btn-floating btn-large indigo darken-2 btnAdmin">
                <i class="material-icons">person_add</i>
            </a>
            <p>
                Ajouter un utilisateur
            </p>
        </div>
        <div class="col s4">
            <a href="/" class="btn-floating btn-large indigo darken-2 btnAdmin">
                <i class="material-icons">playlist_add</i>
            </a>
            <p>
                Ajouter une saison
            </p>
        </div>
    </div>
</div>
