<div class="center">
  <img class="circle" src="assets/img/guy.png">
  <h1 class="center">Profil</h1>
  <p class="center">{{user.first_name}}</p>
  <p class="center">{{user.last_name}}</p>

<div class="row">
  <div class="col s4"><a href="/" class="btn-floating btn-large indigo darken-2 btnAdmin"><i class="material-icons">timeline</i></a></div>
  <div class="col s4"><a href="/" class="btn-floating btn-large indigo darken-2 btnAdmin"><i class="material-icons">playlist_add</i></a></div>
  <div class="col s4"><a href="/"  class="btn-floating btn-large indigo darken-2 btnAdmin"><i class="material-icons">person_add</i></a></div>
</div>
</div>
