<h1 class="center white-text">Ajouter un utilisateur</h1>
<div class="row white-text utilisateur">
    <div class="row">
        <div class="input-field col s6">
            <input type="text" class="validate" id="last_name" ng-model='vm.last_name' ng-required='true'>
            <label for="last_name">{{vm.loginMessage.message.errors.last_name.message || "Nom"}}</label>
        </div>
        <div class="input-field col s6">
            <input type="text" class="validate" id="first_name" ng-model='vm.first_name' ng-required='true'>
            <label for="first_name">{{vm.loginMessage.message.errors.first_name.message || "Prénom"}}</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s6">
            <input type="email" class="validate" id="email" ng-model='vm.email' ng-required='true'>
            <label for="email">{{vm.loginMessage.message.errors.email.message || "Email"}}</label>
        </div>
        <div class="input-field col s6">
            <input type="password" class="validate" id="password" ng-model='vm.password' ng-required='true'>
            <label for="password">{{vm.loginMessage.message.errors.password.message || "Mot de passe"}}</label>
        </div>
    </div>
    <div class="row">
        <div class="row blue-text">
            <select ng-model="vm.poste" class="browser-default col s6">
      			   <option value="" disabled selected>Poste occupé</option>
               <option ng-repeat="poste in vm.postes">{{poste}}</option>
    		    </select>
        </div>
        <div class="input-field col s6">
            <input type="text" class="validate" id="credit" ng-model="vm.credit" ng-required='true'>
            <label for="credit">{{vm.loginMessage.errors.credit || "Nombre de crédits"}}</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12 ">
            <input type="checkbox" class="checkbox-indigo" id="isadmin" ng-model='vm.isadmin' />
            <label for="isadmin">Administrateur</label>
        </div>
    </div>
    <div class="row">
        <div class="center">
            <a class="waves-effect waves-light btn white red-text"><i class="material-icons left">&#xE5CD;</i>Supprimer</a>
            <a class="waves-effect waves-light btn white green-text" ng-click='vm.createAccount()'><i class="material-icons left">&#xE5CA;</i>Valider</a>
            <br/> {{vm.loginMessage.title}}
        </div>
    </div>
</div>
