<div class="row connect center">
  <a href="#/"><img class="navbar_logo" src="assets/img/logoairliquide.svg"></a>
    <form class="col s12">
        <div class="input-field col s12 marge blueFont">
            <input type="text" placeholder="Nom" class="form-control white" id="last_name" ng-model='vm.last_name' ng-required='true'>
        </div>
        <div class="input-field col s12 blueFont">
            <input type="password" placeholder="Mot de passe" class="form-control white" id="password" ng-model='vm.password' ng-required='true'>
        </div>
    </form>
</div>
<div class="input-field center">
  <button ng-click='vm.login()' ng-disabled="formConnect.$invalid" class="btn btnconnect center">Connexion</button>
</div>
<div ng-show="(vm.loginMessage)" class="alert white-text center" ng-class="{'alert-danger': vm.loginMessage.type == 'error', 'alert-success': vm.loginMessage.type == 'success', 'alert-info': vm.loginMessage.type == 'info'}">
    <p>{{vm.loginMessage.message}}</p>
  </div>
