<div class="row">
    <div class="col s3 m3 l3 currentSeason">
        <span id="currentSeason1">Saison en cours :
        </span>

        <span id="currentSeason2">Le dépassement de soi</span>
    </div>
    <div class="col s3 m3 l3 oldSeasonsLink">
        Voir les anciennes saisons
    </div>
</div>
<div class="divider"></div>
<div class="container">
    <div class="row col s12 m12 l12 blocBanner">
        <div class="row col s4 m4 l4">
            <img class="responsive-img" src="assets/img/oiseau.svg" id="imgHome">
        </div>
        <div class="row col s8 m8 l8 textHome">
            <h1 id="accroche">"The secret of getting ahead is getting started."</h1>
            <p id="auteurAccroche">Mark Twain</p>
        </div>
    </div>
</div>
<div class="divider"></div>
<div class="row col s12 m12 l12 blocTri">
    <div class="col s1 m1 l1 offset-s1 offset-m1 offset-l1">Filtres :</div>
    <div class="col s1 m1 l1 itemTri center">date</div>
    <div class="col s1 m1 l1 itemTri center">type</div>
    <div class="col s1 m1 l1 itemTri center">crédits</div>
    <div class="col s1 m1 l1 itemTri center">avis</div>
    <input ng-model="vm.searchText" type="text" class="col s3 m3 l3 offset-l2 form-control" placeholder="Recherche">
</div>
<div class="row">
    <div class="col s3 m3 l3 offset-s1 offset-m1 offset-l1">
        <div class="card grey">
            <div class="card-image black-text">
              <a href="#/cour"><img class="responsive-img" src="assets/img/apple.jpg"></a>
            </div>
            <div class="card-content texteFormation">
                <span class="card-title titreFormation center">JE SUIS UN TITRE</span><br>
                <p class="descriptionFormation">Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression.</p>
                <i class="small material-icons">grade</i><br>
                <a>7 places restantes</a>
            </div>
            <div class="card-action texteFormation1">
                <a>Avis</a>
                <a>Crédits</a>
                <a>Type</a>
            </div>
        </div>
    </div>
</div>
