<nav role="navigation" ng-controller='navbarController as vm' class="NavBar">
    <div class="nav-wrapper">
        <a href="#/"><img class="navbar_logo" src="assets/img/logo.svg"></a>
        <ul class="right">
            <li>
                <a href="#/main" class="navbar_link" ng-show="vm.isLogged">
                    <i class="material-icons left">home</i>Accueil</a>
            </li>
            <li>
                <a href="#/profil/{{vm.user._id}}" class="navbar_link" ng-show="vm.isLogged">
                    <i class="material-icons left">account_circle</i>Profil</a>
            </li>
            <li>
                <a href="#/liste" class="navbar_link" ng-model='vm.user.credit' ng-show="vm.isLogged">
                    <i class="material-icons left">star</i>{{vm.user.credit}}</a>
            </li>
            <li ng-show='vm.isLogged'>
                <a href='#/login' ng-click='vm.logout()' class="navbar_link">
                    <i class="material-icons left">exit_to_app</i>Déconnecter</a>
            </li>
        </ul>
    </div>
</nav>
