<nav role="navigation" ng-controller='navbarController as vm' class="NavBar">
    <div class="nav-wrapper">
      <a href="#/"><img class="navbar_logo" src="assets/img/logo.svg"></a>
        <ul class="right">
            <li>
              <a href="" class="navbar_link" ng-model='vm.user.first_name' ng-show="vm.isLogged">
                  <i class="material-icons left ">perm_identity</i>
                  <span>Bienvenue, {{vm.user.first_name}}</span>
              </a>
            </li>
            <li>
                <a href="#/login" class="navbar_link" ng-show="vm.isLogged">
                    <i class="material-icons left">&#xE88A;</i>Accueil</a>
            </li>
            <li>
                <a href="#/profil" class="navbar_link" ng-show="vm.isLogged">
                    <i class="material-icons left">&#xE8A6;</i>Profil</a>
            </li>
            <li>
                <a href="#/liste" class="navbar_link" ng-model='vm.user.credit' ng-show="vm.isLogged">
                    <i class="material-icons left">&#xE838;</i>{{vm.user.credit}}</a>
            </li>
            <li ng-show='vm.isLogged'>
                <a href='#/login' ng-click='vm.logout()' class="navbar_link">
                    <i class="material-icons left">&#xE879;</i>Déconnecter</a>
            </li>
        </ul>
    </div>
