<nav role="navigation" ng-controller='navbarController as vm' class="NavBar">
    <div class="nav-wrapper">
        <a href="#/"><img class="navbar_logo" src="assets/img/logo.svg"></a>
        <ul class="right">
            <li>
                <a href="" class="navbar_link" ng-model='vm.user.first_name'>
                    <i class="material-icons left ">perm_identity</i>
                    <span ng-show="vm.isLogged">Bienvenue, {{vm.user.first_name}}</span>
                </a>
            </li>
            <li class="iconNav" ng-model='vm.user.credit'>
                <i class="material-icons left">star</i>{{vm.user.credit}}
            </li>
            <li ng-show='vm.isLogged'>
                <a href='#/login' ng-click='vm.logout()' class="navbar_link">
                    <i class="material-icons left"></i>Déconnecter</a>
            </li>
        </ul>
    </div>
</nav>
