<div class='profileBg'>
    <div class="center">
        <img class="circle" src="assets/img/guy.png">
        <p class="center profileSize">{{vm.user.first_name}} {{vm.user.last_name}}</p>
        <div class="row">
        <div class='pink-text lighten-2 col s2 offset-s4'>{{vm.user.credit}}<i class="material-icons">star</i>restants</div>
        <div class='col s2'>{{vm.user.credit}}<i class="material-icons">star</i>utilisées</div>
      </div>
    </div>

    <div class="row">

        <ul class="collection">
            <li class="grey darken-4 collection-item avatar">
                <div class="col s12">
                    <div class="col s4 profilMarge profileColor">Saison</p></div>
                    <div class="col s4 profilMarge profileColor">Theme</p></div>
                    <div class="input-field col s4 profileColor">
                        <i class="material-icons prefix">&#xE8B6;</i>
                        <input ng-model="vm.searchText" type="text" class="form-control" placeholder="Recherche">
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>


<!-- <div>
    <ul class="collection">
        <li ng-repeat="user in vm.users | filter:vm.searchText" class="collection-item avatar">
            <div class="col s4 textuel">{{user.first_name}}</div>
            <div class="col s4 textuel">{{user.last_name}}</div>
            <div class="col s4 textuel">{{user.bij}}</div>

        </li>
    </ul>
</div> -->
