<div class="center">
  <img class="circle" src="assets/img/guy.png">
  <h1 class="center">Profil</h1>
  <p ng-model='vm.user.first_name'class="center">{{vm.user.first_name}}</p>
  <p ng-model='vm.user.last_name' class="center">{{vm.user.last_name}}</p>
</div>

<div class="row">

    <ul class="collection blueForm">
        <li class="collection-item avatar blueForm">
          <div class="col s12">
            <div class="col s4 profilMarge">Saison</div>
            <div class="col s4 profilMarge">Theme</div>
            <div class="input-field col s4">
                <i class="material-icons prefix">&#xE8B6;</i>
                <input ng-model="vm.searchText" type="text" class="form-control" placeholder="Recherche">
            </div>
          </div>
        </li>
    </ul>
  </div>


  <!-- <div>
    <ul class="collection">
        <li ng-repeat="user in vm.users | filter:vm.searchText" class="collection-item avatar">
            <div class="col s4 textuel">{{user.first_name}}</div>
            <div class="col s4 textuel">{{user.last_name}}</div>
            <div class="col s4 textuel">{{user.bij}}</div>

        </li>
    </ul>
</div> -->
