<div class="container">
    <div class="col s12">
        <div class="center">
            <h1>Quizz</h1>
            <form class='forMarge' action="#">
                <p class="quizzMarge">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
                    dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
                <p>
                    <input name="group1" type="radio" id="test1"/>
                    <label for="test1">Red</label>
                </p>
                <p>
                    <input name="group1" type="radio" id="test2"/>
                    <label for="test2">Yellow</label>
                </p>
                <p>
                    <input name="group1" type="radio" id="test3"/>
                    <label for="test3">blue</label>
                </p>
            </form>
            <div class="divider"></div>
            <form class='forMarge' action="#">
                <p class="quizzMarge">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
                    dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
                <p>
                    <input name="group1" type="radio" id="test4"/>
                    <label for="test4">Red</label>
                </p>
                <p>
                    <input name="group1" type="radio" id="test5"/>
                    <label for="test5">Yellow</label>
                </p>
                <p>
                    <input name="group1" type="radio" id="test6"/>
                    <label for="test6">blue</label>
                </p>
            </form>

        </a>
        <div href='' class="input-field center">
            <button class="btn waves-effect waves-light" type="submit" name="action">Envoyer
                <i class="material-icons right">send</i>
            </button>
        </div>
    </div>
</div>
</div>
