<div class="input-field col s6">
    <input type="text" class="validate" id="formation" ng-model='vm.saison.formation.nomformation'>
    <label for="formation">Formation</label>
</div>
<!-- <div class="input-field col s6">
    <input type="text" class="validate" id="last_name" ng-model='vm.last_name' ng-required='true'>
    <label for="last_name">{{"Nom"}}</label>
</div>
<div class="input-field col s6">
    <input type="text" class="validate" id="last_name" ng-model='vm.last_name' ng-required='true'>
    <label for="last_name">{{"Nom"}}</label>
</div>
<div class="input-field col s6">
    <input type="text" class="validate" id="last_name" ng-model='vm.last_name' ng-required='true'>
    <label for="last_name">{{"Nom"}}</label>
</div>
<div class="input-field col s6">
    <input type="text" class="validate" id="last_name" ng-model='vm.last_name' ng-required='true'>
    <label for="last_name">{{"Nom"}}</label>
</div>
<div class="input-field col s6">
    <input type="text" class="validate" id="last_name" ng-model='vm.last_name' ng-required='true'>
    <label for="last_name">{{"Nom"}}</label>
</div>
<div class="input-field col s6">
    <input type="text" class="validate" id="last_name" ng-model='vm.last_name' ng-required='true'>
    <label for="last_name">{{"Nom"}}</label>
</div>
<div class="input-field col s6">
    <input type="text" class="validate" id="last_name" ng-model='vm.last_name' ng-required='true'>
    <label for="last_name">{{"Nom"}}</label>
</div>
<div class="input-field col s6">
    <input type="text" class="validate" id="last_name" ng-model='vm.last_name' ng-required='true'>
    <label for="last_name">{{"Nom"}}</label>
</div>
<div class="input-field col s6">
    <input type="text" class="validate" id="last_name" ng-model='vm.last_name' ng-required='true'>
    <label for="last_name">{{"Nom"}}</label>
</div> -->
<div class="row">
    <div class="center">
        <a class="waves-effect waves-light btn white green-text" ng-click='vm.create()'><i class="material-icons left">&#xE5CA;</i>Valider</a>
    </div>
</div>
