/* Global*/

* {
    font-family: 'fira sans';
}


/* NavBar*/

.iconNav {
    padding-right: 35%;
}

.NavBar {
    background-color: #353D9E;
}

.navbar_logo {
    height: 100%;
    max-height: 55px;
    padding-left: 5%;
    width: auto;
}

.buttonAdmin {
    font-size: 20px;
    font-weight: bold;
}


/*Login*/

.connect {
    margin-right: 35%;
    margin-left: 35%;
    margin-top: 10%;
}

.btnconnect {
    width: 27%;
}

.form-control {
    padding-left: 10px!important;
}

.marge {
    margin-bottom: -6%;
}

.blueFont {
    color: #353E9D;
}


/*Home*/

.currentSeason {
    font-size: 18px;
    margin: 1% 0 0 0;
    padding: 0;
}

#currentSeason1 {
    color: #353D9E;
    font-weight: bold;
    font-size: 18px;
}

#currentSeason2 {
    color: #F03ED5;
    font-weight: bold;
    font-size: 17px;
}

.oldSeasonsLink {
    color: grey;
    font-weight: bold;
    margin: 1% 0 0 0;
}


/*Footer*/

footer {
    background-color: #353D9E!important;
    padding-bottom: 1.4%;
}
